*{
  padding: 0;
  margin: 0;
}


.App {
  text-align: center;
}


.DashBoard {
  background-color: aqua;
}


.Home{
  background-color: blue;
}

.Login{
  background-color: blueviolet;
}

.Signup{
  background-color: darkgreen;
  align-content: center;
}



.sign-up-field{
  display: inline-block;
  margin: 3vw;
  width: 60vw;
  height: 5vh;
  font-size: 140%;
  
  /* align-self: center; */
}


#sign-up-button{
display: inline-block;
background-color: lightblue;
height: 7vh;
width: 20vw;
margin: 5%;
}


