body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #587E8C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#habit-input{
  height: 80vh;
  margin-top: 10%;
  margin-bottom:10% ;

}

#habits{
  display: inline-block;
}

*{
  padding: 0;
  margin: 0;
}


.App {
  text-align: center;
  font-family: "Lato";
  font-size: large;
  font-weight: 600;
  height: '100vh'
}


.DashBoard {
}


.Home{
  background-color: #587E8C;
  height: 140vh;
  color: #F2EC91;
  background-image: ;
}

.Login{
  
}

.Signup{
  align-content: center;
}



.sign-up-field{
  display: inline-block;
  margin: 3vw;
  width: 60vw;
  height: 5vh;
  font-size: 140%;
}

h1{
  font-family: 'Oswald' ;
}


#sign-up-button{
display: inline-block;
height: 7vh;
width: 20vw;
margin: 5%;
}

#title{
font-weight: bold;
}

#title-container{
background-color:#F2EC91 ;
}

#signin{
  background-color:#F2EC91 ;
  height: 100vh;
}

#daily-habits{
  overflow-y: scroll;
}

